{% extends 'base.html.twig' %}

{% block body %}
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="banner__content col-12 col-xl-10">
                        <div class="banner__title">
                            <h1 class="mb-3">
                                Contact
                                <span class="text-primary">
                                        </span>
                            </h1>
                        </div>
                        <div class="banner__description"></div>
                    </div>
                </div>
            </div>
            <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-contact-1600x1067.jpg"></div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-6 d-flex mb-sm-5 flex-column mb-5 mb-xl-0">
                        <h2 class="text-uppercase">Vous avez un projet ?<br/> discutons en !</h2>
                        <p>Où que vous soyez dans votre parcours cloud, nous avons l'expérience et l'expertise nécessaires pour vous aider dans votre transformation.</p>
                        <p>Nous sommes à votre écoute pour vous accompagner dans vos challenges !</p>
                        <img class="mt-auto pt-5" src="../wp-content/themes/cloudtemple/src/assets/images/illustration-contact.svg" alt="" />
                    </div>
                    <div class="col-md-12 col-xl-6 d-flex mb-5 mb-xl-0">
                        <div class="card mb-0">
                            <div class="card__body">
                                <form class="mb-0" action="https://www.cloud-temple.com/wp-admin/admin-ajax.php" method="post" id="contact-form">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group mb-5">
                                                <label class="required" for="firstname">Prénom</label>
                                                <input id="firstname" name="firstname" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group mb-5">
                                                <label class="required" for="name">Nom</label>
                                                <input id="name" name="name" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group mb-5">
                                                <label class="required" for="email">Email</label>
                                                <input id="email" name="email" type="email" required>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group mb-5">
                                                <label class="required" for="phone">Téléphone</label>
                                                <input id="phone" name="phone" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-5">
                                        <label class="required" for="subject">Sujet</label>
                                        <input id="subject" name="subject" type="text" required>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="required" for="message">Message</label>
                                        <textarea id="message" rows="10" name="message"
                                                  required></textarea>
                                    </div>
                                    <small class="form-text text-muted mb-4 d-block"><span class="text-danger">*</span> champs obligatoires</small>
                                    <input type="hidden" id="nonce_field" name="nonce_field" value="c7fb98a45c" />
                                    <input type="hidden" name="action" value="custom_action">
                                    <div class="g-recaptcha mb-5" data-sitekey="6Le6KaIUAAAAAIoH6x-bW5KQ6wgXKKbn4854tAMn"></div>
                                    <button class="btn btn-primary w-100 mb-0" type="submit" id="submit-contact-form">
                                        <i class="fas fa-circle-notch fa-spin"></i>
                                        <i class="fas fa-check"></i>
                                        <i class="fas fa-times-circle"></i>
                                        <span>Envoyer le message</span>
                                    </button>
                                    <div class="alert text-center mt-5 alert-contact d-none" role="alert"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src='../../www.google.com/recaptcha/api7d7c.js?hl=fr'></script>


    </div>
    <section class="section-newsletter">
        <div class="container">
            <div class="heading text-center mb-5">
                <div class="heading__title">
                    <div class="heading__subtitle">
                        Infos
                    </div>
                    <h2>Newsletter</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-lg-8 offset-xxl-3 offset-lg-2">
                    <p class="text-center text-light marger">
                        Restez informé de toute l'actualité de Cloud Temple en vous abonnant dès maintenant à notre newsletter.
                    </p>
                    <form action="https://www.cloud-temple.com/wp-admin/admin-ajax.php" id="newsletter-form" class="newsletter__block">
                        <div class="newsletter__form">
                            <div class="form-group-newsletter">
                                <input type="email" required name="email" class="form-control form-control-newsletter"
                                       autocomplete="off" placeholder="Votre adresse email">
                                <input type="hidden" id="newsletter_form_nonce_field" name="newsletter_form_nonce_field" value="c7fb98a45c" />
                                <input type="hidden" name="action" value="custom_action_newsletter">
                            </div>
                            <button class="btn newsletter__submit btn-dark align-self-start" type="submit">S'inscrire</button>
                        </div>
                        <div class="newsletter__loading">
                            <img src="../wp-content/themes/cloudtemple/src/assets/images/icon-loader.svg">
                        </div>
                        <div class="newsletter__success">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                <circle class="path circle" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                <polyline class="path check" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                            </svg>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}