{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                            Cloud
                            <span class="text-primary">
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description">De la conception au déploiement en passant par le maintien en condition opérationnelle de vos applications, nous vous accompagnons dans votre transformation numérique via le Cloud (public, hybride ou privé) en vous garantissant un haut niveau de sécurité et de fiabilité. </div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/07/cloud-banner-1600x773.jpg"></div>
    </section>


    <div class="main-container">
        <section class="section-content">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-strategie-cloud-700x700.jpg"
                                    alt=""
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Stratégie cloud</h2>
                        <div class="mb-4">Nous vous proposons la stratégie Cloud en accord avec vos enjeux, en vous appuyant sur de nombreux retours d'expérience. </div>
                        <a class="btn btn-primary" href="{{ path('home_cloud_strategie') }}">En savoir plus</a>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-5  order-lg-12 mb-5">
                            <div class="img-illustrated ">
                                <div class="pattern pattern-dots pattern-t-r"></div>
                                <div class="pattern pattern-blob pattern-b-l"></div>
                                <img
                                        class="img-to-lazy"
                                        width="700"
                                        height="700"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                        data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/03/secnumcloud-banner-700x700.jpg"
                                        alt=""
                                >
                            </div>
                        </div>
                        <div class="col-12 col-lg-7  order-lg-1 mb-5">
                            <h2>Cloud public</h2>
                            <div class="mb-4">Rapide, peu coûteux à mettre en place et s’adaptant rapidement à l’augmentation de vos besoins, le cloud public est aujourd’hui une solution adaptée aux enjeux stratégiques des entreprises.
                                Partenaires de fournisseurs tels que Microsoft Azure ou Amazon Web services, nous vous accompagnons dans la stratégie et dans la mise en œuvre de ces solutions.</div>
                            <a class="btn btn-primary" href="{{ path('home_cloud_public') }}">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/03/secnumcloud-banner-700x700.jpg"
                                    alt=""
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Cloud Souverain</h2>
                        <div class="mb-4">Avec l’ambition de devenir un des leaders du Cloud de confiance de l’État, nos services d’hébergement souverains répondent aux plus fortes exigences de sécurité du marché français et européen. Son design simplifie le déploiement de votre stratégie Infrastructure-as-Code et vous offre une capacité d’hybridation native avec les clouds publics Microsoft Azure et AWS.
                            Plus que de l’hébergement, nous vous accompagnons sur la modernisation de vos applications et leur maintien en conditions opérationnelles. Le tout avec une empreinte carbone maîtrisée…</div>
                        <a class="btn btn-primary" href="{{ path('home_cloud_souverain') }}">En savoir plus</a>
                    </div>

                </div>

            </div>
        </section>

    </div>


    </div>

{% endblock %}