{% extends 'base.html.twig' %}

{% block body %}


    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                            Microsoft
                            <span class="text-primary">
                                            Azure
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description">Notre engagement auprès de Microsoft, ainsi que notre expertise pointue et reconnue sur Azure, ont contribué à forger une alliance stratégique et incontournable sur le marché.                                                                                                                                                                                                                                                                                                     </div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-microsoft-azure-1600x1200.jpg"></div>
    </section>


    <div class="section-breadcrumb">
        <div class="container">
            <a href="{{ path('home_cloud_public') }}"><i class="icon ion-md-arrow-back"></i> Cloud public</a>
        </div>
    </div>


    <div class="main-container">
        <section class="section-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/07/photo-2-60ffbbb9cdda3-700x700.jpg"
                                    alt="Un partenaire d'exception"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Un partenaire d'exception</h2>
                        <div class="mb-4"><p>Ce partenariat privilégié avec Microsoft est LA garantie d’un accompagnement unique concernant vos projets Azure.</p>
                            <p>En soutien de cette démarche, nous avons développé des offres spécifiques, intégré de nombreux programmes à forte valeur ajoutée, grâce à une équipe d&#8217;experts dédiée capable de vous aider à tirer le meilleur parti de la plateforme Azure.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-evaluation-700x700.jpg"
                                    alt="Azure Cloud Modernization"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>Azure Cloud Modernization</h2>
                        <div class="mb-4"><p>Tirer pleinement parti du cloud, c’est avant tout s’engager dans un processus de modernisation.<br />
                                Avec MICROSOFT, nous avons développé une offre de service complète allant du “Think” jusqu’au “Build” afin de vous accompagner tout au long de la démarche.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-conseil-transformation-700x700.jpg"
                                    alt="Managed Services on AZURE"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Managed Services on AZURE</h2>
                        <div class="mb-4"><p>Le cloud public a fait évoluer de manière significative la façon dont on aborde la gestion de nos systèmes d’information.<br />
                                Ces changements ont impliqué l’intégration de nouvelles pratiques basées sur l’automatisation, le devOps ou encore le finOps.<br />
                                Pour répondre à ces nouveaux enjeux, nous avons combiné notre expérience dans l’infogérance ITIL depuis plus de 15 ans à notre savoir-faire en matière de devOps et créé une offre de services managés, granulaires et modernes.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-gouvernance-ssi-700x700.jpg"
                                    alt="Cloud Native App"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>Cloud Native App</h2>
                        <div class="mb-4"><p>Aujourd’hui, la “digitalisation” doit faire face à de nombreux défis, qu’ils soient concurrentiels, sécuritaires ou encore financiers.<br />
                                Dans ce contexte, les développements applicatifs doivent pouvoir se faire dans des environnements flexibles, facilitant les évolutions et intégrant les concepts de paiement à l’usage.<br />
                                C&#8217;est pourquoi nous avons imaginé une offre de développement de logiciel “born in cloud” pour vous aider à relever tous ces “challenges”.</p>
                        </div>
                    </div>
                </div>                                </div>
        </section>

    </div>
    <section class="section-certifications">
        <div class="container">
            <div class="heading text-center">
                <div class="heading__title">
                    <div class="heading__subtitle">Découvrez</div>
                    <h2>Nos certifications</h2>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-12 col-lg-4 d-flex">
                    <div class="card mb-5">
                        <div class="card__body">
                            <img src="https://ctwwwmedias.blob.core.windows.net/default/2021/07/logo-microsoft-gold-partner.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}