{% extends 'base.html.twig' %}

{% block body %}


    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                            Amazon
                            <span class="text-primary">
                                            Web
                                            Services
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description">Nous nous sommes associés à AWS afin de créer un solide partenariat basé sur l'innovation et les approches cloud natives.  </div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/03/bg-aws-1600x1067.jpg"></div>
    </section>


    <div class="section-breadcrumb">
        <div class="container">
            <a href="{{ path('home_cloud_public') }}"><i class="icon ion-md-arrow-back"></i> Cloud public</a>
        </div>
    </div>


    <div class="main-container">
        <section class="section-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/07/photo-2-60ffbbb9cdda3-700x700.jpg"
                                    alt="Leader du Ecommerce"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Leader du Ecommerce</h2>
                        <div class="mb-4"><p>A travers cette alliance, nous aidons les entreprises à tirer pleinement parti de la puissance du cloud AWS.</p>
                            <p>En tant que partenaire SELECT consulting, nous avons mis en œuvre un dispositif, d’expertises et des moyens spécifiques pour que vos projets de transformation sur AWS soient de véritables succès.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-etudes-opportunites-700x700.jpg"
                                    alt="Application Modernization"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>Application Modernization</h2>
                        <div class="mb-4"><p>Diminuer la dette technique, apporter de nouvelles évolutions, répondre à des besoins métiers, constituent les principaux enjeux actuels des DSI.</p>
                            <p>Avec AWS, nous avons développé un savoir-faire complet pour vous accompagner sur l’ensemble de ce processus, de l’évaluation jusqu’à la mise en œuvre.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-aws-illustration-2-700x700.jpg"
                                    alt="Cloud Native développement"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Cloud Native développement</h2>
                        <div class="mb-4"><p>Soumis à de multiples contraintes, de business, d&#8217;évolutivité, d’adaptabilité, les besoins métiers et le cycle de vie des applications ont fortement évolué ces dernières années.</p>
                            <p>C&#8217;est pourquoi nous avons développé une offre de développement logiciel alliant agilité et architecture cloud sur AWS afin de pouvoir répondre au plus près de vos besoins.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-aws-illustration-3-700x700.jpg"
                                    alt="Managed Services"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>Managed Services</h2>
                        <div class="mb-4"><p>Alliant une forte expérience dans la gestion des systèmes d’information basée sur le référentiel ITIL et l’intégration des pratiques DevOps, Cloud Temple propose une offre de services managés unique sur le marché.</p>
                        </div>
                    </div>
                </div>                                </div>
        </section>

    </div>
    <section class="section-certifications">
        <div class="container">
            <div class="heading text-center">
                <div class="heading__title">
                    <div class="heading__subtitle">Découvrez</div>
                    <h2>Nos certifications</h2>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-12 col-lg-4 d-flex">
                    <div class="card mb-5">
                        <div class="card__body">
                            <img src="../../../../../ctwwwmedias.blob.core.windows.net/default/2021/07/AWS-Select-Consulting-Partner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}