{% extends 'base.html.twig' %}

{% block body %}

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                            Nos
                            <span class="text-primary">
                                            partenaires
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description">Pionnier du Cloud en France, Cloud Temple s'est imposé dès 2007 comme un leader du cloud privé en s'appuyant sur les partenaires les plus performants dans ce domaine.</div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/03/bg-partners-1600x1101.jpg"></div>
    </section>


    <section class="section-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5  mb-5">
                    <div class="img-illustrated ">
                        <div class="img-illustrated__card" style="width: 200px; height: 170px; top: 10px; right: 10px; bottom: auto; left: auto">
                            <img src="https://ctwwwmedias.blob.core.windows.net/default/2021/03/logo-cisco.svg" alt="">
                        </div>
                        <div class="pattern pattern-dots  pattern-t-l  pattern-lg "></div>
                        <div class="pattern pattern-blob  pattern-b-r   "></div>
                        <img
                                class="img-to-lazy"
                                width="700"
                                height="700"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-strategie-cloud-700x700.jpg"
                                alt="Cisco"
                        >
                    </div>
                </div>
                <div class="col-12 col-lg-7  mb-5">
                    <h2>Cisco</h2>
                    <div class="mb-4"><p>Partenaire Cisco depuis plus de 10 ans, notre partenariat avec Cisco dans les technologies du réseau ou du calcul nous permet d’assurer le plus haut niveau de qualité dans ces différentes domaines.</p>
                    </div>
                </div>
            </div>                        <div class="row align-items-center">
                <div class="col-12 col-lg-5  order-lg-12 mb-5">
                    <div class="img-illustrated ">
                        <div class="img-illustrated__card" style="width: 200px; height: 138px; top: 10px; right: auto; bottom: auto; left: 10px">
                            <img src="https://ctwwwmedias.blob.core.windows.net/default/2021/03/logo-ibm.svg" alt="">
                        </div>
                        <div class="pattern pattern-blob  pattern-t-r   "></div>
                        <div class="pattern pattern-dots  pattern-b-l   "></div>
                        <img
                                class="img-to-lazy"
                                width="700"
                                height="700"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/03/photo-ibm-700x700.jpg"
                                alt="IBM"
                        >
                    </div>
                </div>
                <div class="col-12 col-lg-7  order-lg-1 mb-5">
                    <h2>IBM</h2>
                    <div class="mb-4"><p>Expérience , robustesse et continuité sont les éléments clés de notre partenariat avec IBM. Notre objectif : proposer une infrastructure avec le plus haut niveau de disponibilité afin d’accueillir les environnements de production de nos clients.</p>
                    </div>
                </div>
            </div>                        <div class="row align-items-center">
                <div class="col-12 col-lg-5  mb-5">
                    <div class="img-illustrated ">
                        <div class="img-illustrated__card" style="width: 170px; height: 170px; top: 10px; right: 10px; bottom: auto; left: auto">
                            <img src="https://ctwwwmedias.blob.core.windows.net/default/2021/03/logo-vmware.svg" alt="">
                        </div>
                        <div class="pattern pattern-dots  pattern-t-l   "></div>
                        <div class="pattern pattern-blob  pattern-b-r   "></div>
                        <img
                                class="img-to-lazy"
                                width="700"
                                height="700"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-cybersecurite-700x700.jpg"
                                alt="VMware"
                        >
                    </div>
                </div>
                <div class="col-12 col-lg-7  mb-5">
                    <h2>VMware</h2>
                    <div class="mb-4"><p>Acteur incontournable des services de virtualisation, VMWARE s’est imposé comme un partenaire majeur de notre cloud privé. En partenariat depuis plus de 15 ans, Cloud Temple a acquis un très forte expertise dans l’intégration et l’automatisation des produits VMWARE au service des ses clients.</p>
                    </div>
                </div>
            </div>                    </div>
    </section>



{% endblock %}