{% extends 'base.html.twig' %}
{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                            Opération
                            <span class="text-primary">
                                            24/7
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description">Avec une expérience de plus de 15 ans dans l’infogérance de production, nous sommes un partenaire informatique de confiance. Notre dispositif humain et technique permet de vous garantir le maintien en conditions opérationnelles 24/7 de votre SI, une sécurité et un coût aligné à vos enjeux. Nos experts vous aident à mettre en place les meilleures pratiques du marché pour conduire votre plan de transformation : définition de vos landing zones cloud, utilisation des cloud adoption frameworks et mise en place de votre CCoE (Cloud Center of Excellence).</div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-aws-illustration-2-1600x963.jpg"></div>
    </section>


    <div class="section-breadcrumb">
        <div class="container">
            <a href="{{ path('home_infogerance') }}"><i class="icon ion-md-arrow-back"></i> Infogérance</a>
        </div>
    </div>


    <div class="main-container">
        <section class="section-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-aws-illustration-3-700x700.jpg"
                                    alt="Un dispositif pour garantir la performance de votre système d’information"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Un dispositif pour garantir la performance de votre système d’information</h2>
                        <div class="mb-4"><p>Nos 200 collaborateurs des centres de services vous assurent réactivité et expertise en 24/7, mais surtout un travail de fond pour anticiper, standardiser et automatiser. Le socle d’outils éprouvé et cohérent que nous mettons à votre disposition (bastion, supervision applicative, patch management, FinOps, SOC…), nous permet de répondre à l’ensemble des problématiques de votre SI.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-microsoft-illustration-2-700x700.jpg"
                                    alt="La sécurité : au cœur de notre démarche "
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>La sécurité : au cœur de notre démarche </h2>
                        <div class="mb-4"><p>La gouvernance SecOps est un des piliers de nos services d’infogérance avec, par défaut, la rédaction de votre PSSI, un scan mensuel de vulnérabilité et une instance dédiée pilotée par un manager SSI. Notre expertise sécurité alliée à la maîtrise de votre SI vous permet d’évoluer sereinement avec des solutions exploitables et adaptées à vos enjeux (bastion, SOC, EDR, sensibilisation, conformité, …).</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/03/secnumcloud-banner-700x700.jpg"
                                    alt="Des coûts de fonctionnement maîtrisés et optimisés"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Des coûts de fonctionnement maîtrisés et optimisés</h2>
                        <div class="mb-4"><p>Supprimer vos coûts inutiles est un enjeu quotidien. La gouvernance FinOps est au cœur de notre démarche d’accompagnement, avec, par défaut, un suivi temps réel via un outillage adapté et une analyse approfondie lors des instances de suivi. L’outil Cloud Health déployé sur vos instances publiques vous propose, par exemple, des suggestions automatiques, le taggage de vos composants pour assurer un suivi fin et la définition de seuil d’alertes.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-conseil-transformation-700x700.jpg"
                                    alt="L’adoption simplifiée de l’innovation via un CCoE (Cloud Center of Excellence)"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>L’adoption simplifiée de l’innovation via un CCoE (Cloud Center of Excellence)</h2>
                        <div class="mb-4"><p>Le principal objectif de l’équipe du CCoE est d’accélérer l’adoption du cloud via des solutions cloud ou hybrides. C&#8217;est à elle de définir la trajectoire technique des processus métier liés au Cloud. Les priorités de l’entreprise, plutôt que les priorités informatiques, dominent la prise de décision, car l&#8217;informatique ne doit pas être la seule source de décision et dicter la solution.</p>
                        </div>
                    </div>
                </div>                                </div>
        </section>

    </div>

{% endblock %}
