{% extends 'base.html.twig' %}
{% block body %}


    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                                        <span class="text-primary">
                                            SecOps
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description">Nous avons la forte conviction que la sécurité doit être embarquée dans toutes les activités opérationnelles.
                        Cela demande un effort continu de formation et de sensibilisation des équipes, en prenant en compte les spécificités de chaque métier.</div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-news-1600x1067.jpg"></div>
    </section>


    <div class="section-breadcrumb">
        <div class="container">
            <a href="{{ path('home_infogerance') }}"><i class="icon ion-md-arrow-back"></i> Infogérance</a>
        </div>
    </div>


    <div class="main-container">
        <section class="section-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-blob pattern-blob-silver pattern-b-r  pattern-lg opacity-2"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-microsoft-illustration-3-700x700.jpg"
                                    alt="La sécurité en matière de développement logiciel"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>La sécurité en matière de développement logiciel</h2>
                        <div class="mb-4"><p>Nous avons adopté la culture DevSecOps, qui prône une collaboration rapprochée entre les “devs”, les “ops” et l’équipe Sécurité. La démarche s’articule en 3 axes :</p>
                            <ul>
                                <li>« Shift security to the left » : former les codeurs au développement sécurisé, réfléchir à la sécurité au tout début des projets</li>
                                <li>Automatiser les contrôles de sécurité : le panel de tests automatiques intègre des outils d’analyse statique et dynamique de code</li>
                                <li>Désigner des « champions » sécurité : promouvoir des relais sécurité parmi les membres des équipes Dev et Ops. Ces “champions” deviennent référents en la matière sur les sujets de sécurité.</li>
                            </ul>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  order-lg-12 mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-conseil-transformation-700x700.jpg"
                                    alt="La sécurité un « leitmotiv » à tous les niveaux "
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  order-lg-1 mb-5">
                        <h2>La sécurité un « leitmotiv » à tous les niveaux </h2>
                        <div class="mb-4"><p>Suite à l’obtention de notre certification ISO 27001, nous disposons d’un corpus important de politiques, processus et procédures de sécurité. Tous nos collaborateurs y sont sensibilisés de façon obligatoire à travers un portail d’e-learning interne. Cela contribue à la création d’une forte culture de la sécurité à tous les niveaux de l’entreprise.</p>
                        </div>
                    </div>
                </div>                                <div class="row align-items-center">
                    <div class="col-12 col-lg-5  mb-5">
                        <div class="img-illustrated ">
                            <div class="pattern pattern-dots pattern-t-r"></div>
                            <div class="pattern pattern-blob pattern-b-l"></div>
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="../../../../ctwwwmedias.blob.core.windows.net/default/2021/04/partner-aws-illustration-1-700x700.jpg"
                                    alt="Cyber Threat Intelligence"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-7  mb-5">
                        <h2>Cyber Threat Intelligence</h2>
                        <div class="mb-4"><p>À travers le service de Cyber Threat Intelligence, nous avons pour objectif d’aider nos clients à anticiper et détecter les cybers menaces liées à leur exposition.<br />
                                Des analystes polyglottes sillonnent les différentes couches d’Internet, et en particulier le dark web, à la recherche d’indicateurs de compromission, de fuites de données et d’utilisations abusives des marques.</p>
                        </div>
                    </div>
                </div>                                </div>
        </section>

    </div>



{% endblock %}