{% extends 'base.html.twig' %}

{% block body %}


    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-10">
                    <div class="banner__title">
                        <h1 class="mb-3">
                            A
                            propos
                            <span class="text-primary">
                                        </span>
                        </h1>
                    </div>
                    <div class="banner__description"></div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/04/bg-about-605da7ea3e204-1600x1060.jpg"></div>
    </section>

    <section class="section-page-about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-5">
                    <div class="img-illustrated">
                        <img class="img-to-lazy" width="700" height="700" data-src="https://ctwwwmedias.blob.core.windows.net/default/2021/04/qui-sommes-nous-700x700.jpg" alt="">
                        <div class="pattern pattern-dots pattern-t-r"></div>
                        <div class="pattern pattern-blob pattern-b-l"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 section-page-about__col mt-5">
                    <div class="heading heading-quote">
                        <img class="heading__icon" src="../wp-content/themes/cloudtemple/src/assets/images/icon-quote.svg" alt="" />
                        <h2>Qui sommes nous ?</h2>
                    </div>

                    <p>Cloud Temple est une entreprise de services numériques spécialisée dans la transformation, l’hébergement et l’infogérance d’applications critiques d’entreprise : la bonne architecture applicative pour le bon enjeu métier !</p>



                    <p>Expert en sécurité, Cloud Temple est un pure player agnostique des transformations Cloud et l’un des leaders du Cloud Privé Souverain en France, en Tunisie et en Côte d’Ivoire.</p>



                    <p>Avec plus de 300 collaborateurs, Cloud Temple est aujourd’hui présent à Abidjan, Caen, Lyon, Nantes, Paris, Tours et Tunis.</p>

                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="heading text-center">
                <div class="heading__subtitle">
                    Cloud Temple
                </div>
                <h2>Nos leaders</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Franck.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Franck.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/Franck.jpg"
                                alt="Franck DUBRAY"
                        >
                        <div class="leader__role">Fondateur et Président</div>
                        <h5 class="leader__name">Franck DUBRAY</h5>
                        <a class="leader__social" href="https://fr.linkedin.com/in/franck-dubray-95b59b9a" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/sebastien.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/sebastien.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/sebastien.jpg"
                                alt="Sébastien LESCOP"
                        >
                        <div class="leader__role">Directeur Général</div>
                        <h5 class="leader__name">Sébastien LESCOP</h5>
                        <a class="leader__social" href="https://fr.linkedin.com/in/sébastien-lescop-b3867532" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Christophe.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Christophe.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/Christophe.jpg"
                                alt="Christophe LESUR"
                        >
                        <div class="leader__role">Directeur Général</div>
                        <h5 class="leader__name">Christophe LESUR</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/christophe-lesur-1a21451/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/07/MicrosoftTeams-image-4.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/07/MicrosoftTeams-image-4.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/07/MicrosoftTeams-image-4.jpg"
                                alt="Amina Brik"
                        >
                        <div class="leader__role">Directrice Offshoring</div>
                        <h5 class="leader__name">Amina Brik</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/amina-brik-aba1a8142/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/04/MicrosoftTeams-image-1.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/04/MicrosoftTeams-image-1.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/04/MicrosoftTeams-image-1.jpg"
                                alt="Achraf NAFFETI"
                        >
                        <div class="leader__role">Directeur Général Tunisie</div>
                        <h5 class="leader__name">Achraf NAFFETI</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/achraf-naffeti-b98b3a162/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/04/MicrosoftTeams-image.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/04/MicrosoftTeams-image.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/04/MicrosoftTeams-image.jpg"
                                alt="Lorena ALCALDE"
                        >
                        <div class="leader__role">Directrice Gouvernance Clients</div>
                        <h5 class="leader__name">Lorena ALCALDE</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/lorena-alcalde-ba138750/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/philippe.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/philippe.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/philippe.jpg"
                                alt="Philippe BOTTELIER"
                        >
                        <div class="leader__role">Directeur Infogérance</div>
                        <h5 class="leader__name">Philippe BOTTELIER</h5>
                        <a class="leader__social" href="https://fr.linkedin.com/in/philippe-bottelier-89ab6696" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/07/laure.png"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/07/laure.png"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/07/laure.png"
                                alt="Laure ROUSSEAU"
                        >
                        <div class="leader__role">Directrice Administrative et Financière </div>
                        <h5 class="leader__name">Laure ROUSSEAU</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/laure-rousseau-43938636" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Giuliano.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Giuliano.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/Giuliano.jpg"
                                alt="Giuliano IPPOLITI"
                        >
                        <div class="leader__role">Directeur Agence Grand Ouest & RSSI</div>
                        <h5 class="leader__name">Giuliano IPPOLITI</h5>
                        <a class="leader__social" href="https://fr.linkedin.com/in/ippoliti/fr" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Fabien.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Fabien.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/Fabien.jpg"
                                alt="Fabien MOREAU"
                        >
                        <div class="leader__role">Directeur Agence Caen & Responsable Dev </div>
                        <h5 class="leader__name">Fabien MOREAU</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/famoreau" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Maxime.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/Maxime.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/Maxime.jpg"
                                alt="Maxime BERTHIER"
                        >
                        <div class="leader__role">Directeur Commercial</div>
                        <h5 class="leader__name">Maxime BERTHIER</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/maxime-berthier-12340410b/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/jerome.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/jerome.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/jerome.jpg"
                                alt="Jérôme VU THAN"
                        >
                        <div class="leader__role">Directeur Cloud Transformation</div>
                        <h5 class="leader__name">Jérôme VU THAN</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/jerome-vuthan/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="leader__card">
                        <img
                                class="leader__photo img-fluid img-to-lazy"
                                width="https://ctwwwmedias.blob.core.windows.net/default/2021/03/fodhiel.jpg"
                                height="https://ctwwwmedias.blob.core.windows.net/default/2021/03/fodhiel.jpg"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/03/fodhiel.jpg"
                                alt="Fodhiel KERKENI"
                        >
                        <div class="leader__role">Directeur Général West Africa</div>
                        <h5 class="leader__name">Fodhiel KERKENI</h5>
                        <a class="leader__social" href="https://www.linkedin.com/in/fodhiel-kerkeni-07110a3/" class="" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-topo">
        <div class="container">
            <div class="heading text-center">
                <div class="heading__subtitle">
                    Cloud Temple
                </div>
                <h2>Nos agences</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card mb-5">
                        <div class="card__header">
                            <a href="../region/france/index.html">
                                <div class="card__featured-img img-to-lazy" data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/04/region-france-1024x683.jpg"></div>
                            </a>
                        </div>
                        <div class="card__body">
                            <h5>
                                <a href="../region/france/index.html">France</a>
                            </h5>
                        </div>
                        <div class="card__footer">
                            <a href="../region/france/index.html" class="read-more">Découvrir <i class="icon ion-md-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card mb-5">
                        <div class="card__header">
                            <a href="../region/afrique/index.html">
                                <div class="card__featured-img img-to-lazy" data-src="../../ctwwwmedias.blob.core.windows.net/default/2021/04/region-afrique-1024x587.jpg"></div>
                            </a>
                        </div>
                        <div class="card__body">
                            <h5>
                                <a href="../region/afrique/index.html">Afrique</a>
                            </h5>
                        </div>
                        <div class="card__footer">
                            <a href="../region/afrique/index.html" class="read-more">Découvrir <i class="icon ion-md-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}