{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner__content">
                        <div class="banner__title">
                            <h1>Carrières</h1>
                        </div>
                        <div class="banner__description">Vous cherchez des projets ambitieux et innovants, une organisation dans laquelle vous aurez un réel impact.<br/> Rejoignez l'aventure Cloud Temple où l'humain est au coeur de la tech</div>
                        <div class="section-searchbar d-xl-inline-block mt-5 mb-lg-5">
                                <div class="form-group d-xl-flex mb-xl-0 mr-xl-3">
                                    <input type="text" placeholder="Métier, mots clés" value="" name="s" id="search" onkeyup="Search()"/>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../wp-content/themes/cloudtemple/src/assets/images/bg-job.jpg"></div>
    </section>

    <section>

        <div class="container">
            <div class="row">
                {% for carriere in carrieres %}
                   <div style="text-align: center;"> <br><br>

                       <h2 id="empty"></h2></div>

                <div class="col-12 col-lg-4 d-flex">
                    <div class="card mb-5 target ">
                        <div class="card__body ">
                            <div class="d-flex mb-4">
                                <div class="font-size-regular"><i class="icon ion-md-calendar mr-2"></i> 15/10/2021</div>
                            </div>
                            <h5 class="mb-3">
                                <a href="#">
                                    {{ carriere.titre }}
                                </a>
                            </h5>
                            <ul class="card__job-locations">
                                <li class="tag">{{ carriere.locatisation }}</li>
                                <li></li>

                            </ul>
                        </div>
                        <div class="card__footer d-flex">
                            <a href="{{ path('carriere_show', { 'id': carriere.id }) }}" class="read-more">Découvrir <i class="icon ion-md-arrow-forward"></i></a>

                        </div>

                    </div>
                </div>
                {% endfor %}


</div></div>


    </section>

    <section class="section-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="mb-4">Aucune offre ne semble correspondre à votre recherche et vous souhaitez pourtant nous rejoindre ?</div>
                    <h2 class="mb-4">Déposez votre candidature spontanée <br> en envoyant un mail au </h2>
          <!--          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCandidacy">Postuler</button>-->
                </div>

                <div class="col-12 col-lg-6">
                    <div class="img-illustrated">
                        <img
                                class="img-to-lazy"
                                width="700"
                                height="700"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="../wp-content/themes/cloudtemple/src/assets/images/bg-spontaneous-application-700x700.jpg"
                                alt="Déposez votre candidature spontanée"
                        >
                        <div class="pattern pattern-dots pattern-t-r"></div>
                        <div class="pattern pattern-blob pattern-b-l"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{%  block javascripts %}
    <script>
        function Search() {
            var input = document.getElementById("search");
            var filter = input.value.toLowerCase();
            var nodes = document.getElementsByClassName('target');
            var msg = document.getElementById("empty");

            for (i = 0; i < nodes.length; i++) {
                if (nodes[i].innerText.toLowerCase().includes(filter)) {
                    nodes[i].style.display = "block";
                    msg.innerText = "";

                } else {
                    nodes[i].style.display = "none";
                    msg.innerText = "Introuvable";
                }
            }
        }
    </script>

{% endblock %}
