{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="banner__content col-12 col-xl-12">
                    <div class="banner__title">
                        <h1 class="mb-5" style="text-align: center;">


                            Pilotez Votre  <span class="text-primary">
                                   IT     </span>à la vitesse   <span class="text-primary">
                               de vos métiers  </span>


                        </h1>
                    </div>
                    <div class="banner__description"></div>
                </div>
            </div>
        </div>
        <div class="banner__bg img-to-lazy" style="background-position: center center" data-src="../../../ctwwwmedias.blob.core.windows.net/default/2021/07/cloud-banner-1600x773.jpg"></div>

        </div>
    </section>
    <div class="section-breadcrumb">
        <div class="container">
            <a href="{{ path('home_cloud') }}"><i class="icon ion-md-arrow-back"></i> Cloud</a>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="banner__content col-12 col-xl-12">
                <div class="banner__title">

                </div>
                <div class="banner__description"></div>
            </div>
            <p style="text-align: center">    <img src='{{ asset('assets/img/serveurCloud.png') }}'></p>


        </div>
        </div>
    </section>

{% endblock %}